<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Insecure Web!</title>
    </head>
    <body>
        <p>
            <h1> Hello </h1>
        </p>
        <h3> Sign-In </h3>
        <p>
            <strong>Do not sql injection in this page!</strong>
        </p>
        <form action="" method="post">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <input type="submit" value="LOGIN">
        </form>

    </div>
</body>
</html>