<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Insecure Web Register</title>
    </head>
    <body>
        <form method="POST" action="register">
            <div>
                <h3> Register</h3>
                <p>
                    <label for="regi_id">ID&nbsp&nbsp&nbsp</label>
                    <input type="text" id="id" name="아이디">
                </p>
                <p>
                    <label for="regi_pw">PW&nbsp</label>
                    <input type="password" id="password" name="비번">
                </p>
                <button type="submit" name="submit" value="submit" style="WIDTH: 183pt">submit</button>
            </div>
        </form>
    </body>
</html>
