<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Insecure Web Register</title>
    </head>
    <body>
        <form method="POST">
            <div>
                <h3> Register</h3>
                <p>
                    <label for="regi_id">ID&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                    <input type="text" class="form-control" id="id" name="reg_id">
                </p>
                <p>
                    <label for="reg_nickname">Nick Name&nbsp</label>
                    <input type="text"class="form-control"  id="nickname" name="name">
                </p>
                <p>
                    <label for="regi_pw">PW&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                    <input type="password" class="form-control" id="password" name="reg_passwd">
                </p>
                <button type="submit" name="submit" value="submit" style="WIDTH: 183pt">submit</button>
            </div>
        </form>
    </body>
</html>
